# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.sqlite3
**/staticfiles/

# Node
node_modules/
dist/
.vite/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Celery
celerybeat-schedule/

# Logs
*.log
